@{
    ViewBag.Title = "Contact page.";
}
<br />
<div class="well col-md-offset-2 text-center" style="width:800px">
    <h2>@ViewBag.Title</h2>
    <address>
        Sofia<br />
        Student City 54<br />
        Phone: 0878828825<br />
        Todor Enikov
    </address>
    <h3>If you have any questions you can write me an e-mail. :) </h3><a href="mailto:todorenikov@gmail.com">Click to write email!</a><br />
</div>