@model List<InventoryManager.Client.MVC.Models.ClothesViewModels.AllClothesViewModel>

@{
    ViewBag.Title = "All available clothes.";
}

<br />
<h1 class="text-center">All clothes page!</h1>
<br />

<div id="results">
    @if (Model.Count <= 0)
    {
        @Html.Partial("_NoResults")
    }
    else
    {
        @Html.Partial("_AllClothes")
    }
</div>
