@{
    ViewBag.Title = "Error 400 Bad Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="text-center">
    <img src="~/Content/ImagesForErrors/400-badrequest.jpg" width="600px" />
</div>

