@{
    ViewBag.Title = "Error 403 Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="text-center">
    <img src="~/Content/ImagesForErrors/403-forbidden.jpg" width="600px" />
</div>
