@{
    ViewBag.Title = "Error 500 Internal Server Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="text-center">
    <img src="~/Content/ImagesForErrors/500-IternalServerError.jpg" width="600px" />
</div>

