@{
    ViewBag.Title = "Error 404 Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="text-center">
    <img src="~/Content/ImagesForErrors/404-NotFound.jpg" width="600px" />
</div>

